.card-registration-screen {
  background-color: #fff;
  color: #000;
  font-family: Arial, sans-serif;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.back-button {
  background-color: #000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.close-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card-item {
  background-color: #000;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.add-card-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.add-card-button {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  border-radius: 12px;
  font-size: 24px;
  width: 300px;
  height: 180px;
  cursor: pointer;
}

.add-card-button:hover {
  background-color: #000;
  color: #fff;
}
